<footer class="container py-5 border-top">
  <div class="d-flex justify-content-between">
    <nav class="nav">
      <a class="nav-link text-black" href="#">服務方案</a>
      <a class="nav-link text-black" href="#">關於職旅</a>
      <a class="nav-link text-black" href="#">聯絡我們</a>
      <a class="nav-link text-black" href="#">隱私權政策</a>
      <a class="nav-link text-black" href="#">用戶條款</a>
    </nav>
    <p class="text-sm-end text-secondary">
      Copyright © 2025 職旅 workway. All rights reserved.
    </p>
  </div>
</footer>
